/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
  --ion-background-color: #EAF2F3;
}

input[type="search"] {
  background-color: #ffffff !important;
}
